In [9]:
import pandas as pd
import numpy as np
import re

In [6]:
faang = pd.read_csv("data/Levels_Fyi_Salary_Data.csv")

In [3]:
faang = faang[['company', 'title', 'totalyearlycompensation',
       'location', 'yearsofexperience', 'yearsatcompany','basesalary', 'bonus',
        'Masters_Degree', 'Bachelors_Degree', 'Doctorate_Degree',
       'Highschool', 'Some_College']]

In [15]:
#faang.company.apply(lambda x: True if len(re.findall(amazonPat, x)) > 0 else False)
#'(Facebook)+'
#(facebook)+|(Facebook)+
amazonPat = '(Amazon)+|(amazon)+'
faang['Amazon'] = faang.company.apply(lambda x: True if len(re.findall(amazonPat, str(x))) > 0 else False)
amazon = faang[faang.Amazon].drop('amazon', axis=1).reset_index().drop('index', axis=1)
amazon

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education,apple,Apple,Amazon
0,6/11/2017 14:53:57,Amazon,L7,Product Manager,310000,"Seattle, WA",8.0,0.0,NaN,155000.0,...,0,0,0,0,0,NaN,NaN,False,False,True
1,7/14/2017 21:36:15,Amazon,L6,Software Engineering Manager,287000,"Seattle, WA",12.0,1.0,NaN,160000.0,...,0,0,0,0,0,NaN,NaN,False,False,True
2,7/16/2017 16:50:46,Amazon,L5,Software Engineer,218000,"Seattle, WA",10.0,0.0,NaN,150000.0,...,0,0,0,0,0,NaN,NaN,False,False,True
3,7/31/2017 15:54:17,Amazon,L6,Software Engineer,300000,"Seattle, WA",12.0,12.0,NaN,158000.0,...,0,0,0,0,0,NaN,NaN,False,False,True
4,7/31/2017 15:55:01,Amazon,L7,Software Engineer,430000,"Seattle, WA",12.0,12.0,NaN,220000.0,...,0,0,0,0,0,NaN,NaN,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8221,8/7/2018 21:07:28,Amazon,L4,Software Engineer,152000,"Seattle, WA",3.0,0.0,Web Development (Front-End),106000.0,...,0,0,0,0,0,NaN,NaN,False,False,True
8222,8/10/2018 9:45:17,Amazon,L5,Product Manager,173000,"Seattle, WA",10.0,1.0,Security,145000.0,...,0,0,0,0,0,NaN,NaN,False,False,True
8223,8/12/2018 13:49:13,Amazon,L6,Product Manager,181000,"Seattle, WA",9.0,2.0,Retail,140000.0,...,0,0,0,0,0,NaN,NaN,False,False,True
8224,9/5/2018 12:37:41,Amazon,L5,Software Engineer,213000,"Seattle, WA",6.0,4.0,Distributed Systems (Back-End),147500.0,...,0,0,0,0,0,NaN,NaN,False,False,True
8225,9/6/2018 21:24:41,amazon,sde2,Software Engineer,170000,"Seattle, WA",2.0,2.0,Distributed Systems (Back-End),130000.0,...,0,0,0,0,0,NaN,NaN,False,False,True

In [14]:
applePat = '(Apple)+|(apple)+'
faang['Apple'] = faang.company.apply(lambda x: True if len(re.findall(applePat, str(x))) > 0 else False)
apple = faang[faang.Apple].drop('apple', axis=1).reset_index().drop('index', axis=1)
apple

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education,amazon,Apple
0,6/17/2017 0:23:14,Apple,M1,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.0,NaN,157000.0,...,0,0,0,0,0,0,NaN,NaN,False,True
1,7/24/2017 12:21:07,Apple,L4,Software Engineer,50000,"London, EN, United Kingdom",2.0,2.0,NaN,0.0,...,0,0,0,0,0,0,NaN,NaN,False,True
2,8/6/2017 22:23:02,Apple,Ict3,Software Engineer,200000,"Cupertino, CA",3.0,2.0,NaN,140000.0,...,0,0,0,0,0,0,NaN,NaN,False,True
3,8/10/2017 18:05:43,Apple,ICT2,Software Engineer,120000,"Cupertino, CA",5.0,2.0,NaN,95000.0,...,0,0,0,0,0,0,NaN,NaN,False,True
4,8/18/2017 21:57:34,Apple,ICT3,Software Engineer,200000,"Cupertino, CA",7.0,0.0,NaN,0.0,...,0,0,0,0,0,0,NaN,NaN,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2050,6/11/2018 3:19:53,Apple,ICT3,Software Engineer,65000,"Hyderabad, TS, India",9.0,0.0,Full Stack,47460.0,...,0,0,0,0,0,0,NaN,NaN,False,True
2051,6/14/2018 8:49:49,Apple,ICT2,Software Engineer,152000,"Cupertino, CA",0.0,0.0,NaN,120000.0,...,0,0,0,0,0,0,NaN,NaN,False,True
2052,7/7/2018 1:01:21,Apple,ICT4,Software Engineer,205000,"Sunnyvale, CA",10.0,1.0,API Development (Back-End),146000.0,...,0,0,0,0,0,0,NaN,NaN,False,True
2053,7/29/2018 0:04:00,Apple,ICT 3,Software Engineer,175000,"Seattle, WA",2.0,0.0,DevOps,135000.0,...,0,0,0,0,0,0,NaN,NaN,False,True
2054,1/29/2019 5:12:59,apple,ict3,Software Engineer,200000,"Sunnyvale, CA",0.0,0.0,ML / AI,155000.0,...,0,0,0,0,0,0,NaN,NaN,False,True

In [7]:
amazon = pd.read_csv('data/amazon.csv')
apple = pd.read_csv('data/apple.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'data/amazon.csv'